.refresh, .header {
	margin-bottom: 20px;
}

thead {
	background-color: lightblue;
}

/*.table-bordered td, .table-bordered th, table {
	border-color: cornsilk !important;
}
*/
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: azure;
}

.btn.btn-default {
	background-color: azure;
	border: 1px lightblue solid;
}