body {
	font-family: "Inconsolata", sans-serif;
	background-image: url("/img/brillant.png");
	background-repeat: repeat;
}

#container {
	width: 285px;
	height: 410px;
	margin: auto;
	background-color: #191818;
	border: 3px #403b3b solid;
}

h1#header {
	color: #191818;
	margin-bottom: 30px;
}

#inputs>input {
	background-color: #282c4e;
	color: white;
	border: 2px #6078bf solid;
	height: 60px;
	padding: 0;
	margin: 12px 0 8px 0;
}

#leftOperand, #rightOperand {
	width: 31.5%;
}

#operator {
	width: 15%;
}

/* For textarea
#topinput {
	background-color: #282c4e;
	border: 2px #6078bf solid;
	width: 83%;
	height: 60px;
	margin: 10px 3px 4px 3px;
	resize: none;
}*/

.exponent {
	font-size: .65em;
}

#groupBtns .colorOperators {
	background-color: #c84c1b;
	border: 2px #f49232 solid;
}

#groupBtns .colorClear {
	background-color: #b12828;
	border: 2px #f43232 solid;
}

#groupBtns .binaryColor {
	background-color: #369f21;
	border: 2px #26d44b solid;
}

#groupBtns input, button{
	color: #d5ddc8;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	background-color: #403b3b;
	display: inline-block;
	margin-bottom: 8px;
}

div.row input, button{
	width: 58.5px;
	height: 45px;
	border: 2px #777 solid;
}