#container {
	width: 100%;
}

div.box{
	border: 1px solid black;
	width: 50px;
	height: 50px;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	margin-top: 50px;
	margin-right: 50px;
	float: left;
	position: relative;
}

.box:nth-child(3) {
	clear: left;
}

.box:nth-child(5) {
	clear: left;
}

.box>img {
	position: absolute;
	top: -40px;
	right: -40px;
}

#ribbon {
	position: fixed;
	top: 0px;
	right: 0px;
}

h1 {
	margin-bottom: 0px;
}

#box-red {
	background-color: red;
}

#box-orange {
	background-color: orange;
}

#box-yellow {
	background-color: yellow;
}

#box-green {
	background-color: green;
}

#box-blue {
	background-color: blue;
}

#box-violet {
	background-color: violet;
}